.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: hsl(49, 100%, 94%);
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: white;
}

th {
    background-color: orange;
    color: #fff;
    padding: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

body {
    color: black;
    font-size: large;
    text-align: center;
}

h1 {
    color: rgb(247, 177, 0);
    text-align: center;
}

table {
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
}

.text-to-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.subtitle {
    color: rgba(178, 128, 1, 0.709);
    text-align: center;
    font-size: xx-large;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 10px;
}

.goal {
    color: #FFA500;
    display: inline-block;

}

.risk {
    color: black;
    font-weight: bold;
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

.success {
    color: green;
    text-align: center;
    font-weight: bold;
}

.neutral {
    color: orange;
    text-align: center;
    font-weight: bold;
}

.fail {
    color: red;
    text-align: center;
    font-weight: bold;
}

.okr-title {
    color: orange;
    font-weight: bold;
    font-size: x-large;
}

.okr {
    color: orange;
    font-weight: bold;
    display: inline-block;
}

.okr-card {
    background-color: hsl(49, 100%, 94%);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 20px;
    height: 200px;
}



.business-model-card {
    background-color: hsl(49, 100%, 94%);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    height: 350px;
    width: 100%;
}

.business-model-canvas-title {
    color: #FFA500;
    font-weight: bold;
    font-size: x-large;
}

.business-model-canvas-subtitle {
    color: #000000;
    font-weight: bold;
    font-size: large;
}

.agile-roadmap-title {
    font-size: large;
    text-align: center;
}

footer {
    background-color: #000;
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

/* Footer Link Styles */
footer a {
    color: #FFD700;
    text-decoration: none;
}

footer a:hover {
    color: #FFA500;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.profile-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(247, 177, 0);
    text-align: center;
    font-size: medium;
}

.profile-name {
    color: rgb(247, 177, 0);
    text-align: center;
    font-size: large;
}

.profile-image {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    object-fit: cover;
}

.profile-quote {
    font-style: italic;
    font-size: large;
}

.profile-details {
    padding-top: 10px;
}

.profile-details-title {
    color: black;
    font-weight: bold;
    display: inline-block;
}

.profile-bio {
    padding-bottom: 10px;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-card-container {
    width: 100%;
    padding: 20px;
    background-color: hsl(49, 100%, 94%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: calc(20% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
}

.profile-ul-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-ul {
    text-align: left;
}

.centered-ul li {
    margin-bottom: 10px;
}

/* Menu Bar Styles */
.menu-bar {
    background-color: rgb(247, 177, 0);
    padding: 10px 0;
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu-bar li {
    display: inline-block;
    margin: 0 10px;
}

.menu-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.menu-bar a:hover {
    color: #684400;
    background-color: #f6f33c;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.disclamer {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border: solid 2px brown;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    text-align: center;
    width: 50%;
}

.disclamer-outer {
    width: 100%;
    text-align: center;
    background-color: #0666a3
}


.disclamer-div-outter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.disclamer-div-inner {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 15px;
    width: 320px;
    border: 2px solid black;
    background-color: rgb(141, 155, 240);
    border-radius: 50px;
    color: white;
    font-size: medium;
}

.graph {
    width: 45%;
    height: auto;
    display: inline-block;
}

.logo {
    width: 250px;
}

.crazy-8s {
    width: 75%;
    border: solid 10px black;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.crazy-8s-selected {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 33%;
    border: 5px solid black;
    border-radius: 50px;
}

.crazy-8s-user-story {
    width: 50%;
    background-color: hsl(49, 100%, 94%);
}

.prototype {
    width: 33%;
}

.story-map {
    width: 95%;
    border: 5px solid black;
    border-radius: 50px;
}

.container-text-to-left {
    width: 60%;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.container-text-to-left-small {
    width: 25%;
    margin: auto;
    padding: 20px;
    text-align: left;
}

@media (orientation: portrait) {
    table {
        font-size: 14px;
    }

    .container {
        max-width: fit-content;
    }

    .crazy-8s-selected {
        border-radius: 15px;
    }

    .okr-card {
        height: auto;
    }

    .business-model-card {
        height: auto;
    }

    .profile-card-container {
        max-width: none;
    }
}

/* TODO: there is a regression in OKRs and Business Model Canvas cards caused by the change for mobile browsers that should be fixed! */