 img {
     display: block;
     margin: 0 auto;
 }

 .text {
     color: black;
     font-size: larger;
     text-align: center;
 }

 h1 {
     color: rgb(247, 177, 0);
     text-align: center;
 }

 .text-to-left {
     text-align: left;
 }

 .text-center {
     text-align: center;
 }

 .bold {
     font-weight: bold;
 }

 .subtitle {
     color: rgb(247, 177, 0);
     text-align: center;
     font-size: xx-large;
 }

 .container {
     width: 100%;
 }

 .box {
     display: inline-block;
     width: 45%;
     margin: 10px;
     padding: 10px;
 }

 .goal {
     color: #FFA500;
     display: inline-block;

 }

 .yes {
     color: green;
     text-align: center;
     font-weight: bold;
 }

 .high {
     color: green;
     text-align: center;
     font-weight: bold;
 }

 .medium {
     color: orange;
     text-align: center;
     font-weight: bold;
 }

 .low {
     color: red;
     text-align: center;
     font-weight: bold;
 }

 .okr-title {
     color: orange;
     font-weight: bold;
     font-size: x-large;
 }

 .okr {
     color: orange;
     font-weight: bold;
     display: inline-block;
 }

 .okr-card {
     background-color: hsl(49, 100%, 94%);
     padding: 20px;
     border: 1px solid #ddd;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     text-align: left;
     font-weight: bold;
     font-size: 16px;
     margin-bottom: 20px;
 }

 .business-model-canvas-title {
     color: #FFA500;
     font-weight: bold;
     font-size: x-large;
 }

 .business-model-canvas-subtitle {
     color: #000000;
     font-weight: bold;
     font-size: large;
 }


 .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed for your spacing preference */
    gap: 20px; /* Adjust the gap between cards as needed */
  }
  
  .card {
    flex: 0 1 calc(33.33% - 20px); /* Adjust the card width and gap value */
    background-color: #fff; /* Card background color */
    border: 1px solid #ddd; /* Card border */
    border-radius: 8px; /* Card border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Card shadow */
    overflow: hidden; /* Hide overflow content if needed */
  }
  
  .card-content {
    padding: 20px; /* Card content padding */
    /* Add your content styles here */
  }